<h1>Behold our many lairs for rental:</h1>

<ul>
  <% @lairs.each do |lair| %>
    <li>
      <%= lair.name %>
      <% if lair.user_id == current_user.id %>
      |
        <%= link_to "Edit", edit_lair_path(lair) %>
      <% end %>

    </li>
  <% end %>
</ul>

<%= render "form" %>
